button {
  border:0;
  border-radius: 2px;

  &:hover {
    cursor:pointer;
    opacity:.8;
  }

  &:disabled {
    cursor: no-drop;
    opacity:.6;
  }
}

#loginButton {
  background-color: $blue;
  color:#fff;
  font-size:16px;
  letter-spacing:1px;
  padding:10px 20px;
}

button.confirm {
  @include flex-center-center;
  background-color: $orange;
  border-radius: 4px;
  color:#fff;
  font-family: $open-sans;
  font-size:14px;
  font-weight:600;
  letter-spacing:1px;
  margin-top:20px;
  padding: 10px 20px;
  text-transform:uppercase;

  img {
    margin-right:10px;
    max-width:20px;
  }
}

button.filter-button {
  background-color:$medium-gray;
  padding:5px 10px;
}

button.approve,
button.deny,
button.delete {
  color:#fff;
  font-size:16px;
  letter-spacing:1px;
  padding:5px 10px;
}

button.approve {
  background-color: $green;
}

button.deny {
  background-color: $redish-orange;
}

button.delete {
  background-color: $red;
}
