button {
  border-radius: 2px;
  border:0;

  &:hover {
    cursor:pointer;
  }

  &:disabled {
    cursor: no-drop;
    opacity:.6;
  }
}

#loginButton {
  background-color: $blue;
  padding:10px 20px;
  color:#fff;
  font-size:16px;
  letter-spacing:1px;
}

button.confirm {
  @include flex-center-center;
  background-color: $orange;
  border-radius: 4px;
  padding: 10px 20px;
  color:#fff;
  font-family: $open-sans;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:14px;
  font-weight:600;
  margin-top:20px;

  img {
    max-width:20px;
    margin-right:10px;
  }
}

button.approve {
  background-color: $light-green;
}

button.deny {
  background-color: red;
  padding:5px 10px;
}
