.js-error {
  border:2px solid red;
}

.js-error-message {
  color:red;
  font-size:13px;
}

.confirm-booking,
.error-booking {
  margin-top:10px;
  color:#fff;
  font-family: $open-sans;
  padding:5px 10px;
  border-radius:4px;
}

.confirm-booking {
  background-color:$green;
}

.error-booking {
  background-color:$red;
}
