header {
  padding:20px 10px;
  h1 {
    text-align: center;
    margin-bottom:0px;
    font-weight:500;
    @include flex-center-center;

    img {
      margin-right:10px;
      max-width:50px;
    }
  }
}
