#loginView {
  border: $widget-border;
  box-shadow: $box-shadow;
  min-width:350px;
  padding: 50px 30px;

  h2 {
    margin-bottom:20px;
  }
}

.login-form {
  .field {
    margin-bottom:20px;

    * {
      display: block;
    }

    label {
      margin-bottom:10px;
    }

    input {
      height:35px;
      width:100%;
    }
  }
}


@mixin login--sm() {
  #loginView {
    input {
      font-size:16px;
    }
  }
}
