.widget {
  padding:30px 20px;
  border: 2px solid #000;
}

.user-profile-widget {
  display:flex;
  flex-flow:column;
  align-self: flex-start;
  width:25%;
  margin-right:5%;

  h4 {
    font-size: 24px;
    border-bottom: 2px solid #000;
  }

  p {
    display:flex;
    flex-flow:column;
    margin-bottom:20px;

    span {
      display:block;
      font-size:17px;
      font-weight:600;
      padding:5px 10px;
      background-color:$medium-gray;
      align-self:flex-start;
      border-radius:4px;
      margin-top:5px;
    }
  }
}

.trip-widget {
  width:70%;

  .trip-filter-bar {
    display:flex;
    align-items: center;
    margin-bottom:30px;
    position:relative;

    #requestTripButton {
      position:absolute;
      right:0px;
      margin-top:0px;
    }
  }

  .trip-search-bar {
    margin-bottom:30px;
  }
}

.traveler-trip-list {
  .trip {
    margin-bottom:20px;
    display:flex;
    align-items:center;
    background-color: #FFF;
    // background-color: $light-green;
    box-shadow: $box-shadow;

    .img-wrap {
      width:40%;
      height:auto;
      min-height:200px;
      background-size:cover;
      background-position:center;
      margin-right:20px;
      align-self: stretch;
    }

    .trip-content {
      padding: 20px 0px;

      h3 {
        margin-bottom:10px;
      }

      p {
        font-size:14px;
      }
    }

    .button-block {
      margin-top:20px;
      button {
        margin-right:10px;
      }
    }
  }
}

@mixin user-widget--sm() {
  .user-profile-widget {
    margin-right:0px;
    margin-bottom:30px;
  }

  .trip-widget {
    .trip-filter-bar {
      display: block;
      text-align: center;

      #requestTripButton {
        margin: 20px auto;
        position:relative;
        right:unset;
      }
    }
  }

  .traveler-trip-list .trip {
    flex-flow:wrap;

    .img-wrap,
    .trip-content {
      width:100%;
    }

    .img-wrap {
      margin-right:0px;
    }

    .trip-content {
      padding:30px 20px;
    }
  }
}
