@import './@mixins.scss';
@import './variables.scss';
@import './main.scss';
@import './header.scss';
@import './fonts.scss';
@import './buttons.scss';
@import './login.scss';
@import './errors.scss';
@import './widgets.scss';
@import './modals.scss';
@import './media-queries.scss';
@import '~js-datepicker/src/datepicker';

*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: $primary-background;

  &.js-modal-open {
    height:100vh;
    overflow-y: hidden;
  }
}
