@import './@mixins.scss';
@import './variables.scss';
@import './header.scss';
@import './fonts.scss';
@import './buttons.scss';
@import './login.scss';
@import './errors.scss';
@import './widgets.scss';
@import './modals.scss';
@import '~js-datepicker/src/datepicker';

*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: $primary-background;

  &.js-modal-open {
    height:100vh;
    overflow-y: hidden;
  }
}

main {
  @include flex-center-center;
  height:calc(100vh - 106px);
  flex-flow:wrap;

  .margin-wrapper {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    flex-flow:wrap;
  }
}

.travel-dashboard {
  align-items:flex-start;
  margin-top:50px;
  padding:0px 50px;
}
