@import './variables.scss';
@import './header.scss';
@import './fonts.scss';
@import './buttons.scss';
@import './login.scss';
@import './errors.scss';

*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: $primary-background;
}

main {
  display: flex;
  height:calc(100vh - 238px);
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
}
